doctype html
html
  head
    title Make a Choice
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Choose Your Path
    // container will be dynamically filled with story and choices by main.js
    div#story-container
      // Initially empty but will be filled with story text and buttons


    script(src="/main.js")

